.colombiaAds p.adsDesc{display:none;}
.ctn_list{margin-bottom:20px;}
.ctn_list .colombiaAds a:first-child{margin-right:4%; float:left !important;}
.ctn_list .colombiaAds a:nth-child(2){color: #2b2b2b; font-size:26px; font-weight:500; line-height:1.1; display:block;}
.ctn_list .colombiaAds p.sponsored{color:#b3b3b1 !important; line-height:28px; font-size:12px; font-weight:400; padding-left:52px; margin-left:4%;}
.ctn_list .colombiaAds p.adsDesc{color:#555 !important; line-height:28px; font-size:16px; font-weight:400; padding-left:52px; margin-left:4%; display:block;}
/*.ctn_list .colombiaAds p.sponsored img{width:20px; height:20px; margin:0 0 0 5px; border:none;}*/

.ctn_rhs .colombiaAds{border-bottom:1px solid #e5e5e5; padding:0 0 15px; margin-bottom:15px; display:inline-block;width:100%;}
.ctn_rhs .colombiaAds a{}
.ctn_rhs .colombiaAds a:first-child img{width:80px; height:60px; float:right; margin:0 0 0 10px;}
.ctn_rhs .colombiaAds a:nth-child(2){color:#333; padding:6px 0 0; text-align:left; font-size:13px; overflow:hidden; font-weight: bold; display:block;}
.ctn_rhs .colombiaAds p.sponsored{color:#999; font-size: 13px; text-align:left; display:block; padding:2px 0 0;}

.ctn_rhs .ctnad_head{font-size: 18px; margin-bottom:15px; padding: 10px; background: #f1f1f1; color: #333; border-radius: 2px; border: 1px solid #e6e3e1; text-transform: uppercase; font-weight:bold;}
.ctn_rhs .ctnad_head.organicads{margin-top:10px;}

.ctn_article_show_bot_1{padding:0; margin:0; float:left;}
.ctn_article_show_bot_1 .ctnad_head{font-size: 18px; padding: 10px; background: #f1f1f1; color: #333; border-radius: 2px; border: 1px solid #e6e3e1; text-transform: uppercase; font-weight:bold;}
.ctn_article_show_bot_1 .ctnad_head.organicads{margin-top:10px; clear:both;}
.ctn_article_show_bot_1 .colombiaAds{width: 32%; float: left; margin-left: 2%;}
.ctn_article_show_bot_1 .colombiaAds.first{margin-left: 0;}
.ctn_article_show_bot_1 .colombiaAds a{font-size:13px; font-weight: bold; padding:5px 0 0; float:left;}
.ctn_article_show_bot_1 .colombiaAds a img{width: 100%; height: auto; float: left; min-height: 148px;}
.ctn_article_show_bot_1 .colombiaAds p.sponsored{font-size:10px; font-weight: bold; padding:5px 0 0; color:#9a9a9a;}

.ctn_article_show_bot_2{padding:0; margin:0; float:left;}
.ctn_article_show_bot_2 .paidAds{float:left; width:48%; margin-right:2%;}
.ctn_article_show_bot_2 .organicAds{float:left; width:50%;}
.ctn_article_show_bot_2 .ctnad_head{font-size: 18px; padding: 10px; background: #f1f1f1; color: #333; border-radius: 2px; border: 1px solid #e6e3e1; text-transform: uppercase; font-weight:bold;}
.ctn_article_show_bot_2 .ctnad_head.organicads{}
.ctn_article_show_bot_2 .colombiaAds{width: 100%; float: left; margin-bottom: 10px; padding-right:10px; height:100px;}
.ctn_article_show_bot_2 .colombiaAds a{font-size:13px; font-weight: bold; padding:5px 0 0; display:block;}
.ctn_article_show_bot_2 .colombiaAds a img{width: 100px; float: left; margin-right: 10px;}
.ctn_article_show_bot_2 .colombiaAds p.sponsored{font-size:10px; font-weight: bold; padding:5px 0 0 110px; color:#9a9a9a;}

.ctn_list, .ctn_rhs, .ctn_article_show_bot_1, .ctn_article_show_bot_2 {width:100%;float:left;padding-bottom:25px;background-image:url(https://static.clmbtech.com/ad/commons/images/rbc-gray.png);background-repeat:no-repeat;background-position:98% 100%;}
.ctn_list:hover, .ctn_rhs:hover, .ctn_article_show_bot_1:hover, .ctn_article_show_bot_2:hover {background-image:url(https://static.clmbtech.com/ad/commons/images/rbc-red.png);}

@media screen and (max-width: 400px) {
	.ctn_list .colombiaAds a:nth-child(2) {font-size:15px; font-weight:900; line-height:1.2}
	.ctn_list .colombiaAds p.sponsored{line-height:28px; font-size:12px; font-weight:400; margin-bottom: 0}
	
	.ctn_article_show_bot_1 .colombiaAds, .ctn_article_show_bot_1 .colombiaAds.first{width: 100%; float: left; margin: 0;}
	.ctn_article_show_bot_1 .colombiaAds a{width:100%;}
	.ctn_article_show_bot_2 .paidAds, .ctn_article_show_bot_2 .organicAds{float:left; width:100%; margin:0;}
	.ctn_article_show_bot_2 .colombiaAds{height:auto;}
}
