body.euuser [data-id="newsletterWidgetDisplay"],body.euuser [data-plugin="comment-form"],body.euuser [data-plugin="comment-rating"],body.euuser #post-comment,body.euuser .noComment,body.euuser .comments .cmtbtn.add,body.euuser .user-sec,body.euuser .footbar,body.euuser #widget-head,body.euuser .button-red,body.euuser [data-action="subscribeall"],body.euuser [data-action="subscribe"],body.euuser .submit_btn,body.euuser .lang-select,body.euuser .comment-box span.follow,body.euuser [data-type="addcomment"],body.euuser .comment-box:hover span.follow,body.euuser .comment-box:hover span.following,body.euuser a[pg="WEB-TOIFooter#Feedback~Others"],body.euuser .eu-hidden,body.euuser .subscribe-form,body.euuser .headerlinks a:first-of-type,body.euuser .headerlinks .link-dropdown+span{
    display:none !important
}
 body.euuser .headerlinks .link-dropdown a:first-of-type{
    display:block !important
}
body.euuser #comment-holder{
    height:17px
}
body.euuser .comments .cmtbtn.view{
    width:100%;
    border:0
}
body.euuser .bottom-comments .comment-box.level1{
    min-height:66px
}
body.euuser #footer .level3 li:nth-child(9),body.euuser #footer .level3 li:nth-child(10){
    min-width:140px
}
#gdpr_policy_popup{
    display:none
}
#gdpr_policy_popup.ntfc_overlay{
    z-index:99999999
}
#gdpr_policy_popup .ontap-background{
    left:36%
}
#gdpr_policy_popup .gdpr_desc{
    font-size:16px;
    text-align:left;
    float:left;
    padding:10px 0
}
 #gdpr_policy_popup .subscribe-message{
    border-top:0;
    padding:10px 10px 5px
}
#gdpr_policy_popup .gdpr_ul input[type="checkbox"]{
    vertical-align:middle;
    margin-right:8px
}
#gdpr_policy_popup .gdpr_ul{
    text-align:left
}
#gdpr_policy_popup .gdpr_ul li{
    padding:5px 0
}
.consent-popup{
    background:#323232;
    position:relative;
    z-index:100;
    margin:0 auto
}
.consent-popup,.consent-popup *{
    box-sizing:border-box
}
.consent-banner{
    padding:16px 10px !important;
    font-size:14px;
    line-height:1;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
     max-width: 1000px !important;
     margin: 0 auto;
}
 .consent-banner:after{
    content:".";
    display:block;
    font-size:0;
    height:0;
    clear:both;
    visibility:hidden
}
.consent-banner .column1{
    float:left;
    width:80%;
    padding-right:20px
}
.consent-banner .wrapper{
   
    
}
.consent-banner .column2{
    float:right;
    width:20%;
    text-align:center;
    height:auto;
    margin:0
}
.consent-banner h2{
    font-family:'proxima-semibold',proximanova,sans-serif;
    margin-bottom:15px;
    line-height:26px;
    color:#fff;
    font-size:20px;
    font-weight:600
}
.consent-banner p{
    font-family:'proxima-regular1',proximanova,calibri,sans-serif;
    font-size:13px;
    line-height:20px;
    color:#fff;
    font-weight:normal
}
 .consent-banner p a{
    color:#f4b408;
    text-decoration:underline
}
.consent-banner li{
    margin-bottom:8px
}
.consent-banner button#consent-continue-button,.consent-banner li a{
    font-family:'proxima-semibold',proximanova,sans-serif;
    text-decoration:none;
    display:block;
    font-size:14px;
    line-height:1;
    color:#f4b408;
    font-weight:600
}
.consent-banner button#consent-continue-button{
    font-family:'proxima-regular1',proximanova,sans-serif;
    background:0;
    border:1px solid #f4b408;
    border-radius:1000px;
    width:100%;
    padding:10px;
    text-transform:uppercase;
    height:auto;
    line-height:1;
    font-weight:normal
}
 .consent-banner #consent-more{
    display:none
}
.setting_gdpr{
    float:right;
    padding:1px 5px 0 4px
}
.setting_gdpr a{
    color:#b3d4f7;
    text-transform:uppercase;
    text-decoration:none
}
.setting_gdpr a:hover{
    text-decoration:none
}
.bgImg .consent-popup{
    max-width:1000px
}

.consent-popup ul {padding:0; margin:0;}

body.euuser .fav_msg,body.euuser .usercomment_utilities,body.euuser .comment_box,[data-plugin="ratemovie"],body.euuser .ent_sprite.favicon,body.euuser .tvmovie-img .favicon,body.euuser .tvmovie-img .reminderIcon,body.euuser .channel_img .tv_addfav,body.euuser .programTitle .favoriteIcon,body.euuser .programTitle .reminderIcon,body.euuser .tv-heading .mobfav,body.euuser .lfttvInfo .own-rating,body.euuser .tvchannelhead .tv_addfav,body.euuser .tvshow-banner .tv_addfav,body.euuser .tvshow-banner .reminderIcon,body.euuser .followlink{
    display:none !important
}
 body.euuser #tpwidget-postlogin,body.euuser .user_isloggedin #widget-head,body.euuser [data-plugin="user-isloggedin"],body.euuser [data-plugin="user-loggedin"],body.euuser [data-plugin="user-notloggedin"],body.euuser .heading-rt .favorite,body.euuser .heading-rt .help_prodmap,body.euuser .heading-rt .reminder,body.euuser .tv-tags [type="favorites"],body.euuser .smsblock,body.euuser .badges,body.euuser .comment_pipe,body.euuser .reminderIcon,body.euuser .favoriteIcon{
    display:none !important
}
 body.euuser [catkey="48969469"]{
    display:none !important
}
body.euuser .mainnavl1 #nav-times-poll{
    display:none !important
}
@media screen and (max-width:999px){
    body.euuser .consent-banner .column1{
        width:75%
    }
    body.euuser .consent-banner .column2{
        width:25%
    }
}

@media screen and (max-width:767px) {
    body.euuser .consent-banner .column1{
        width:100%
    }
    body.euuser .consent-banner .column2{
        width:100%;
	margin-top:25px;
    }

    body.euuser .consent-banner .column2 li:nth-of-type(2){
	margin-top:15px;	
    }
	
}

